extends ../layout
block content
  article
    if topic
      h2= topic.title
      p= topic.description
      if topic.author
        div= 'by ' + topic.author
    else
      h2 welcome
      | This is server side JavaScript Tutorial.
  ul
    li
      a(href="/topic/add") new
    if topic
      - rid = encodeURIComponent(topic['@rid'])
      li
        a(href="/topic/" + rid + "/edit") edit
      li
        a(href="/topic/" + rid + "/delete") delete
