extends ../layout
block content
  h2 Log in
  form(action='/auth/login', method='POST')
    p
      label(for='username') Username
      input(type='text', name='username')
    p
      label(for='password') Password
      input(type='password', name='password')
    input(type='submit', value='Submit')
  a(href='/auth/facebook') Facebook
